body {
    background-color: #000010;
    max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	overflow: none;
}

h1 {
    color: #FFE4C4;
}

h2 {
color: #FFE4C4;
}

h3 {
color: #FFE4C4;
}

h4 {
color: #FFE4C4;
}

h5 {
color: #FFE4C4;
}

h6 {
color: #FFE4C4;
}

p  {
color: #FFE4C4;
}

div {
    color: #FFE4C4;
}
iframe {
    color: #FFE4C4;
}

form {
    color: #FFE4C4;
}
li {
    color: #FFE4C4;
}
ul {
    color: #FFE4C4;
}
ol {
    color: #FFE4C4;
}
footer {
    color: #FFE4C4;
}


a  {
color: #48D1CC;
}

code {
	color: #FFE4C4;
    overflow-x: auto;
    /* background: #1d2021; */
}

pre {
    background: #000040;
    border: 1px solid #48D1CC;
    border-radius: 4px;
    padding: 5px;
    display: block;
    /* background: #1d2021; */
}

#viewfile  p {
    font: monospace;
    font-size: 14px;
    background-color: #F7BE81;
}

