:root {
    --textcol: #FFE4C4;
	--bg: #000010;
    --linkcol: #48D1CC;
    --linkcolalt: #5982c1;
}


body {
    /* background-image: url("images/.png"); */
    background-color: var(--bg);
    max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	overflow: none;
}

h1 {
    color: var(--textcol);
}

h2 {
color: var(--textcol);
}

h3 {
color: var(--textcol);
}

h4 {
color: var(--textcol);
}

h5 {
color: var(--textcol);
}

h6 {
color: var(--textcol);
}

p  {
color: var(--textcol);
}

div {
    color: var(--textcol);
}
iframe {
    color: var(--textcol);
}

form {
    color: var(--textcol);
}
li {
    color: var(--textcol);
}
ul {
    color: var(--textcol);
}
ol {
    color: var(--textcol);
}
footer {
    color: var(--textcol);
}
table,tr,td {
    color: var(--textcol);
    /* border: 1px solid darkgrey; */
    border-collapse: collapse;
    /* padding: 3px; */
}

th {
    color: var(--textcol);
}


a  {
color: var(--linkcol);
}
a:hover {
    color: var(--linkcolalt);
}

code {
	color: var(--textcol);
    overflow-x: auto;
    /* background: #1d2021; */
}

pre {
    background: #000040;
    border: 1px solid var(--linkcol);
    border-radius: 4px;
    padding: 5px;
    display: block;
    /* background: #1d2021; */
}

#viewfile  p {
    font: monospace;
    font-size: 14px;
    /*background-color: #F7BE81; */
    background-color: #F2D2A7;
}

.ImageBorder {
    border-style:solid;
    border-width: 2px;
    border-color: var(--textcol);
}
